.filmDetail-wrapper {
	// margin: 150px 0 0;
	align-content: center;
	background: $blue;
	color: $white;
	display: flex;
	margin-bottom: 25px;
	max-width: 800px;
	padding:  25px;	

	@include breakpoint(tablet) {
		// margin-top: 50px;
	}

	@include breakpoint(tablet) {
		// margin-top: 50px;
	}

	@include breakpoint(mobileonly) {
    margin: 0;
  }
}

.filmDetail-information {
	display: flex;
	span {
		font-weight: 100;
	}
}
.filmDetail-title {
	font-size: 48px;
	font-weight: 300;
	margin: 0 0 20px;

	@include breakpoint(mobileonly) {
		font-size: 28px;
	}
}

.filmDetail-notfound {
	font-size: 32px;
	font-weight: 300;
	display: inline;
}

.filmDetail-detail {
	display: flex;
	@include breakpoint(mobileonly) {
		flex-direction: column;
	}
}

.filmDetail-tech {
	min-width: 40%;
	border-right: 1px dashed $white;
	padding: 0 10px 0 0 ;
	margin-right: 30px;

	@include breakpoint(mobileonly) {
		width: 100%;
		border-right: 0;
		border-bottom: 1px dashed $white;
	}
}
